<!DOCTYPE html>
<html lang="en">
<head>
  <title>DashboardForm</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
	<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/getDashboard">Ashok It</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/enquiry">AddEnquiries   </a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  href="/getEnquirys">ViewEnquiries    </a>
        </li>
         <li class="nav-item">
          <a onclick="return confirm('Are u sure u want to logout ? ');" class="btn btn-danger " href="/logout">Logout</a>
        </li>
    </div>
  </div>
</nav>
<div class="container">
	<h2>Welcome To Ashok It Dashboard</h2>
	<table>
		<tr>
			<td>TotalEnquiries:</td>
		<td th:text="${dashboard.totalEnqs}"></td>
		</tr>
		<tr><td>New Enquiries:</td>
		<td th:text="${dashboard.openEnqs}"></td>
		</tr>
		<tr><td>Enrolled Enquiries:</td>
		<td th:text="${dashboard.enrolledEnqs}"></td></tr>
		<tr><td>Lost Enquiries:</td>
		<td th:text="${dashboard.lostEnqs}"></td></tr>
	</table>


</div>

</body>
</html>